.copy_right_footer {
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font: weight 500px; ;
    font-style: italic;
    font-size:xx-large;
}
#camera{
    width:500px;
    height:400px;
    border-color: black;
}
body{
   background-color:rgba(197, 153, 194, 0.589) ;
}
img{
    border-color: black;
    padding-top: 20px;
    box-shadow: 0 6px 8px black(2,2,2,0,2);
}
img:hover{
    border-radius: 140px;
}